// wide screen
@include mediaXl {
    }

// desktops & laptops
@include mediaLg {
    }

// tablet & small laptop
@include mediaMd {
    #home .lg-heading {
        font-size: 94px;
        line-height: 1.2;
        padding-bottom: 2rem;
    }
    .menu-brand {
        height: 30vh;
        flex-flow: row wrap;
        width: 100vw;
        transform:translate3d(-100%,0,0 );
.portrait{
    width:200px;
    height:200px;

}
}
       
    }
    .menu-nav {
        height: 70vh;
        width: 100vw;
        transform:translate3d(100%,0,0);


    }
    

// for mobile phones
@include mediaSm {
    #home .lg-heading {
        font-size: 64px;
        line-height: 1.2;
        padding-bottom: 2rem;
    }
    .menu-brand {
        height: 30vh;
        flex-flow: row wrap;
        width: 100vw;
        transform:translate3d(-100%,0,0 );
.portrait{
    width:150px;
    height:150px;
}
       
    }
    .menu-nav {
        height: 70vh;
        width: 100vw;
        transform:translate3d(100%,0,0);


    }
}
